body {
    font-family: Merriweather, Georgia, serif;
}

h1 {
    font-family: Verdana, sans-serif;
}

h2 span {
    color: #ffc200;
}

footer {

font-family: 
Georgia, serif; 
color: #666; 
font-size: 14px; 
font-style: italic;

}